<h3>ユーザー情報一覧</h3>

<%= render "shared/current_user" %>

<table>
  <thead>
    <tr>
      <th>メールアドレス</th>
      <th>パスワード</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.email%></td>
      <td>
        <%= @user.password.size.times do %>
          <% puts "*" %>
        <% end %>
      </td>
  </tbody>
</table>

<p><%= link_to "宿登録はこちら", new_room_path %></p>