table th {
  background-color: #fbc25b;
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

.doropdown_active {
  display: block;
  z-index: 2;
}

.doropdown_active ul {
  list-style-type: none;
}
